*{
    text-align: center;

}

li {
    list-style-type: circle;
    text-align: left;
}

ul li.checked{
    list-style-type: disc;
    text-decoration: line-through;
}

.remove {
    display: none;
}

div {
    margin: 0% 15%;
    width: 60%;
    height: 500px;
    border: 2px solid red;
    padding: 0% 5%
}

div span {
    float: right
}

div span:hover {
    background: rgb(108, 43, 170)
}